* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Colors
$black: #0f0f0f;
$iconColor: #445069;
$turquoise: #19a7ce;

//Icon Sizes
$wrapperGap: 64px;
$iconItemGap: 8px;
$width: 48px;
$height: 8px;
$borderRadius: $height / 2;

//Animation
$widthDelay: 0.5s;
$animationTime: 0.75s;
$animationType: ease;
$rotateDelay: 1s;
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black;
}

.wrapper {
  .icon-wrapper {
    display: flex;
    gap: $wrapperGap;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $iconItemGap;
      cursor: pointer;
      min-height: 40px;
      min-width: $width;
      transition: gap $animationTime $animationType $widthDelay;
      .icon-item {
        width: $width;
        height: $height;
        border-radius: $borderRadius;
        background-color: $iconColor;
        transition: background-color $animationTime $animationType,
          width $animationTime $animationType $widthDelay,
          height $animationTime $animationType $widthDelay,
          transform $animationTime $animationType $rotateDelay;
      }

      &:hover {
        gap: 2px;
        .icon-item {
          background-color: $turquoise;
          &:nth-child(1) {
            transform: rotate(45deg);
            width: 24px;
          }
          &:nth-child(2) {
            width: 0;
            height: 0;
          }
          &:nth-child(3) {
            width: 24px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
